# Bazel
bazel-*
.user-bazelrc

# IDE
.vscode/
.project
.classpath
.settings
*.out
ij.sh
.ijwb/

# Platform
.DS_Store

# Tools
bin
__pycache__
target

# Generated
build_distdir.sh
resolved_repos.py

# Other
todo.txt
